.textWrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
    color: var(--grey-color);
    gap: 3rem;
  
  }
  
  .textWrapper p{
    text-align: justify;
  }
  
  .about_me_Wrapper{
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
  .aboutimage{
    min-width: 300px;
    width: 40%;
  }
  
  @media (max-width:1000px) {
        .about_me_Wrapper{
            align-items: center;
 flex-direction: column-reverse;
        }
        .textWrapper{
            width: 100%;
        }
  }